@charset "utf-8";
@import "../common.css";
.search-require-box{
    margin: 0 auto 5px auto;
    width: 100%;
    max-width: 100%;
    min-height: 0.01%;
    background: #ffffff;
    border:1px #069DD5 solid;
    border-radius: 5px;
}
.search-require-box .row{
    margin:5px auto;
}
.search-header-table{
    text-align: center;
    margin: 5px;
}
.search-header-small{
    text-align: right;
    margin-right: 30px;
}
.search-table thead tr th{
    text-align: center;
}
.search-table,.search-table thead tr th,.search-table tfoot tr td,.search-table tbody tr td{
    border: 1px solid darkblue;
}
.search-table tbody tr td:first-child,.search-table tfoot tr td:first-child{
    text-align: center;
    vertical-align: middle;
}


.container-menu{
    position: absolute;
    top:0;
    left:5px;
    width:200px;
    bottom: 0;
}

.container-menu1{
    position: absolute;
    top: 50px;
    left:5px;
    width:400px;
    bottom: 0;
}

.container-context{
    position: absolute;
    top:0;
    left:210px;
    right:0;
    bottom: 0;
}
.container-context1{
    position: absolute;
    top: 50px;
    left:410px;
    right:0;
    bottom: 0;
}
.panel-title-bg{
    background: #F5F5F5;
    padding:5px 0;
}

