@charset "utf-8";
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div {margin: 0;padding: 0;border: 0;}
body{text-align: left;font-family:'Microsoft YaHei',微软雅黑,Arial Narrow,宋体,sans-serif;font-size:13px;background:#ECF0F5;color: #333333;}
li{list-style: none;}
a{text-decoration:none;}
a:link {list-style: none;}
a:hover {cursor: pointer;}